extends layout

block content
    - var title = "Babymon"
    
    h1= title
    p Welcome to #{title}
    div
      h2 Motion Triggered
      p(id="videoData") false
      h2 Audio Triggered
      p(id="audioData") false
      
      script(src="http://code.jquery.com/jquery-1.11.1.js")
      script(src="http://localhost:3000/socket.io/socket.io.js")
      script.
        console.log('Initializing socket.io')
        var socket = io();
        socket.connect('http://localhost:3000', { autoConnect: true}); 
        
        socket.on('camera_update', function(data){
          console.log('updating camera')
          $('#videoData').text(data.has_motion);
        });
        socket.on('audio_update', function(data){
          console.log('updating audio')
          $('#audioData').text(data.has_motion);
        });
