extends layout

block content
    - var title = "Babymon"
    
    h1= title
    p Welcome to #{title}
    div
      img(id="image" width="640" height="360" src='camera.bmp')
      h2 Motion Triggered
      p(id="videoData") false
      h2 Audio Triggered
      p(id="audioData") falseatom
      
      script(src="http://code.jquery.com/jquery-1.11.1.js")
      script(src="https://cdn.socket.io/socket.io-1.0.0.js")
      script.
        console.log('Initializing socket.io')
        var socket = io();
        socket.connect('http://localhost:3000', { autoConnect: true}); 
        var notifications = {};
        
        function showNotification(image, title, content) {
          var options = {
              body: content,
              icon: image,
              renotify: false,
              sound: 'notification.mp3'
          }
          if(!("Notification" in window)) {
            alert("This browser does not support desktop notification");
            return;
          } else if(Notification.permission === "granted") {
            // If it's okay let's create a notification
            if(notifications[title] != null) {
              return;
            }
            notifications[title] = new Notification(title, options);
            notifications[title].onclose = function() { notifications[title] = null; }
          } else {
            Notification.requestPermission(function (permission) {
              // If the user accepts, let's create a notification
              if (permission === "granted") {
                if(notifications[title] != null) {
                  return;
                }
                notifications[title] = new Notification(title, options);
                notifications[title].onclose = function() { notifications[title] = null; }
              }
            });
          }
        }
        
        socket.on('camera_update', function(data){
          console.log('updating camera')
          $('#videoData').text(data.has_motion);
          if(data.has_motion) {
            showNotification('moving_baby.jpg', 'The baby is moving', 'Skynet system detected movement of the small human.')
          }
        });
        socket.on('audio_update', function(data){
          console.log('updating audio')
          $('#audioData').text(data.has_motion);
          if(data.has_motion) {
            showNotification('crying_baby.jpg', 'The baby is crying', 'Skynet system detected feeling of sadness of the small human.')
          }
        });
        socket.on('image_update', function(data){
          console.log('updating image');
          $('#image').attr("src", 'camera.bmp?' + new Date().getTime());
        });
